{%  extends "base.html" %}
{%  block title %}
Login
{%  endblock    %}

{% load static %}

{%  block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{%  endblock  %} 
{%  block content   %}
<br>
<div class="container" >
    <div class="row">
        
        <!-- div derecho imagen and texto  -->
        <div class="col-lg-6 p-5" style="
        position: relative;">
            <div class="container">                
                <div class="" >
                    <div class="container ">
                        <img src="{% static 'img/logo1mejorado.png' %}" alt="" width="400rem" >
                    </div>                    
                </div>
               
            </div>
        </div>

        <div class="col-lg-6  p-5 contenedor">
            <section>
                <h1 class="tituloInicio" >Iniciar Sesión</h1>
            </section>
            <form method="post" action="{% url 'login' %}">
                {%  csrf_token %}
                <div class="form-group mt-4">
                    <label for="exampleInputEmail1" class="textLabel">Nombre de Usuario</label>
                    <input type="text" class="form-control" id="" aria-describedby="" name="username" required>
                
                </div>
                <div class="form-group mt-4">
                    <label for="exampleInputPassword1" class="textLabel">Password</label>
                    <input type="password" class="form-control" id="Password1" name="password" required>
                </div>
                <section>
                    <div class="container">
                        <div class="row">

                            <!-- olvidarContraseña -->
                            <div class="col-sm mt-3">                               
                                    <i class="fas fa-key"></i>
                                    <a class="olvidoContrase" href="{% url 'password_reset' %}">
                                        Olvidaste tu contraseña?
                                    </a>                                
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary btn-lg mt-3">
                                    Login
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
      
</div>

{%  endblock  %}