.dropdown-item-close {
    position: absolute;
    top: 10% !important;
    right: 0%;
    font-size: 1.8rem;
    transition: 0.3s;
    padding-right: 0px;
    padding-top: 10px !important;


}

.dropdown-item-close:hover {
    color: rgb(red, green, blue);
    transition: 0.3s;
    cursor: pointer;
}