{%  extends "base.html" %}
{%  block title %}
    Detalle Mascota
{%  endblock    %}
{%  load static %}
{%  block styles %}
    <link rel="stylesheet" href="{% static 'css/mascotas.css' %}">
    
  {%  endblock  %} 



{%  block content   %}
{% include 'vacunaModal.html' %}
{% include 'asignarCita_Modal.html' %}


<div class="row">
    <div class="col-sm-3 " >
        <div class="card"><br>
            {% if  object.foto %}
            <div class="d-grid gap-2 col-8 mx-auto">
                <img class="img-fluid redonda" src="{{ object.foto.url }}" alt="" >
            </div>
            {% else %}
            <img src="#" alt="" width="100%">
            {% endif %}
        
            <div class="card-body">
                <h2 class="" style="color: rgb(9, 132, 240);"><center>{{object.nombreMas}}</center></h2>
                <h5 class="card-text">Propietario: {{object.propietario}}</h5>
                <p class="card-text">Especie: {{object.especie}}</p>
                <p class="card-text">Raza: {{object.raza}}</p>
                <p class="card-text">Color: {{object.color}}</p>
                <p class="card-text">Edad: {{object.edad}}</p>
                <p class="card-text">Sexo: {{object.sexo}}</p>
                <p class="card-text">Caracteristicas: {{object.caracteristicas}}</p>


            </div>
        </div>
    </div>
    <div class="col-md-6 contenedor" >
        <br>
        <h2 style="color: rgb(9, 132, 240);"><center>Vacunas y Citas</center></h2>
        <br>
        
        <div class="row">           
            <div class="col-1">
            </div> 
            <div class="col-5">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button  id="propietario-btn" type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#vacunaModal"> Nueva vacuna <i class="fa-solid fa-syringe"></i></button>                    
                </div> <br>               
                {% if  vacunas %}
                    {% for vacuna in vacunas %}
                    <div class="card">
                        <h4>Vacuna Aplicada: <small>{{vacuna.vacuna}}</small></h4> <a class="btn btn-warning" data-bs-toggle="collapse" href="#demo{{vacuna.id}}" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa-solid fa-plus-circle"></i></a>
                        
                        <div class="collapse" id="demo{{vacuna.id}}">
                            <h4>Fecha de Aplicación: </h4>{{vacuna.fecha_aplicacion|date:'d-m-Y'}}
                            <h4>Dosis aplicada: <small>{{vacuna.dosis_aplicada}}</small></h4>
                            <h4>Fecha de la siguiente dosis: </h4>{{vacuna.fecha_sgt_dosis|date:'d-m-Y'}}
                            <div class="d-grid gap-2 " > 
                                <button onclick="abrir_modal_editVacuna(`{% url 'editarVacuna' vacuna.id %}`)" class="btn btn-info btn-lg" >Editar <i class="fa-solid fa-file-medical"></i></button>
                            </div> 
                        </div>
                        
                    </div>
                    {% endfor %}
                {% else %}
                    <h5><center>No hay vacunas aplicadas</center></h5>
                {% endif %}
                <br>              
            </div>
            <div class="col-5">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button  id="propietario-btn" type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#asignarCita_Modal"> Nueva Cita <i class="fa-solid fa-book-medical"></i></button>                    
                </div> <br>                
                {% if  citas %}
                    {% for cita in citas %}
                    <div class="card">
                        <h4>Fecha la cita: <small>{{cita.fecha|date:'d-m-Y'}}</small> </h4><a class="btn btn-warning" data-bs-toggle="collapse" href="#demo{{cita.id}}" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa-solid fa-plus-circle"></i></a>
                        
                        <div class="collapse" id="demo{{cita.id}}">
                            <h4>Hora la cita: <small>{{cita.hora}}</small></h4>
                            <h4>Tipo de cita: <small>{{cita.tipo}}</small></h4>
                            <div class="d-grid gap-2 " > 
                                <button onclick="abrir_modal_editCita(`{% url 'editarCita' cita.id %}`)" class="btn btn-info btn-lg" >Editar <i class="fa-solid fa-file-medical"></i></button>
                            </div> 
                        </div>
                        
                    </div>
                    {% endfor %}
                {% else %}
                    <h5><center>No hay citas asignadas</center></h5>
                {% endif %}
                <br>              
            </div>
            <div class="col-1">
            </div>            
        </div> 
                   
    </div>
    <div class="col-md-3 contenedor">
        <br>
        <h2 style="color: rgb(9, 132, 240);"><center>Historias Clinicas</center></h2>
        <br>
            <div class="d-grid gap-2 col-8 mx-auto">
                <a href="{% url 'Registrar_HC' object.id %}" class="btn btn-secondary ">Nueva Historia Clínica</a>
            </div>
            <br>
            {% for obj in historiaClinica %}
                <div class="card">
                    <div class="d-grid"  > 
                        <a href="{% url 'detalleHC' obj.id %}" class="btn btn-primary btn-lg" ><i class="fa-solid fa-folder"></i></a>
                    </div> 
                    <div class="card-body">
                        <p>ID # {{obj.id}}</p>
                        <p>{{obj.fecha}}</p>
                        <p>{{obj.tratamientoInstaurado}}</p>
                        <p>{{obj.observaciones}}</p>                    
                    </div>
                </div> <br>
            {% endfor %}        
    </div>
</div>
<div class="modal fade" id="vacunaEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<div class="modal fade contenedor" id="editarCitaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
{%  endblock  %} 
{% block javascript %}
        <script type="text/javascript">
            var $ = jQuery.noConflict();

            function abrir_modal_editVacuna(url){
                $('#vacunaEditModal').load(url, function (){
                    $(this).modal('show');
                });
            }

            function abrir_modal_editCita(url){
                $('#editarCitaModal').load(url, function (){
                    $(this).modal('show');
                });
            }
            
        </script>
{% endblock %}