{%  extends "base.html" %}
{%  block title %}
    Detalle Mascota
{%  endblock    %}
{%  load static %}
{%  block styles %}
    
  {%  endblock  %} 



{%  block content   %}
{% include 'vacunaModal.html' %}

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            {% if  object.foto %}
            <img class="img-fluid" src="{{ object.foto.url }}" alt="" width="100%">
            
            {% else %}
            <img src="#" alt="" width="100%">
            {% endif %}
        
            <div class="card-body">
                <h2 class=""><center>{{object.nombreMas}}</center></h2>
                <h5 class="card-text">Propietario: {{object.propietario}}</h5>
                <p class="card-text">Especie: {{object.especie}}</p>
                <p class="card-text">Raza: {{object.raza}}</p>
                <p class="card-text">Color: {{object.color}}</p>
                <p class="card-text">Edad: {{object.edad}}</p>
                <p class="card-text">Sexo: {{object.sexo}}</p>
                <p class="card-text">Caracteristicas: {{object.caracteristicas}}</p>


            </div>
        </div>
    </div>
    <div class="col-md-5 contenedor" >
        <h2><center>Vacunas</center></h2>
        <div class="row">
            <div class="col-6">
                <br>
                {% if  vacunas %}
                    {% for vacuna in vacunas %}
                    <h4>Vacuna Aplicada: {{vacuna.vacuna}}</h4>
                    {% endfor %}
                {% else %}
                    <h5>No hay vacunas aplicadas</h5>
                {% endif %}
            </div>
            <div class="col-6">
                <br>
                Nueva vacuna: <button  id="propietario-btn" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#vacunaModal"><i class="fa-solid fa-syringe"></i></button>
            </div>
        </div>            
    </div>
    <div class="col-md-4 contenedor">
        <h2><center>Historias Clinicas</center></h2>
        <br>
        <div class="row">
            {% for obj in historiaClinica %}
            <div class="col-4">
                <div class="d-grid gap-2 " style="margin-top: 70%;" > 
                    <a href="{% url 'detalleHC' obj.id %}" class="btn btn-primary btn-lg" ><i class="fa-solid fa-folder"></i></a>
                </div>                
            </div>
        
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <p>ID # {{obj.id}}</p>
                        <p>{{obj.fecha}}</p>
                        <p>{{obj.tratamientoInstaurado}}</p>
                        <p>{{obj.observaciones}}</p>
                    
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{%  endblock  %} 