{% load static %}
<span class="badge badge-warning navbar-badge" id="cantNotifications">{{ notificaciones.count }}</span>
<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
    {% if notificaciones %}    
        <span class="dropdown-header">{{ notificaciones.count }} Notifications</span>
        {% for notificacion in notificaciones %}
            {% if notificacion.notificacion_type == 2 %}
                <div class="dropdown-divider"></div>
                <a href="https://api.whatsapp.com/send?phone=+57{{notificacion.vacuna.mascota.propietario.telefonos}}&text=Hola!&nbsp;Te&nbsp;informo&nbsp;que&nbsp;tu&nbsp;mascota&nbsp;está&nbsp;proxima&nbsp;a&nbsp;su&nbsp;Siguiente&nbsp;vacuna:{{notificacion.vacuna.fecha_sgt_dosis}}" class="dropdown-item">
                    <h5><center>Vacuna para: {{notificacion.vacuna.mascota}}</center></h5>
                    <i class="fas fa-envelope mr-2"></i> Vacuna:
                    <span class="float-right text-muted text-sm">{{notificacion.vacuna.vacuna}}</span>
                    <p>Siguiente Dosis: <span class="float-right text-muted text-sm">{{notificacion.vacuna.fecha_sgt_dosis}}</span></p>
                </a>
                <div class="d-grid gap-2 col-md-2 mx-auto">
                    <span class="dropdown-item-close" onclick="removeNotification(`{% url 'notification-delete' notificacion.pk %}`,`{{ request.path }}`)">&times;</span>
                </div>
            {% elif notificacion.notificacion_type == 1 %}

                <div class="dropdown-divider"> </div>
                <a href="https://api.whatsapp.com/send?phone=+57{{notificacion.vacuna.mascota.propietario.telefonos}}&text=Hola!&nbsp;Te&nbsp;informo&nbsp;que&nbsp;tu&nbsp;mascota&nbsp;está&nbsp;proxima&nbsp;a&nbsp;su&nbsp;Siguiente&nbsp;vacuna:{{notificacion.vacuna.fecha_sgt_dosis}}" class="dropdown-item">
                    <h5><center>Cita para: {{notificacion.cita.mascota}}</center></h5>
                </i> Fecha:
                <span class="float-right text-muted text-sm">{{notificacion.cita.fecha}}</span>
                <p>Hora: <span class="float-right text-muted text-sm">{{notificacion.cita.hora}}</span></p>
                <p>Tipo de cita: <span class="float-right text-muted text-sm">{{notificacion.cita.tipo}}</span></p>
                </a>
                <div class="d-grid gap-2 col-md-2 mx-auto">
                    <span class="dropdown-item-close2" onclick="removeNotification(`{% url 'notification-delete' notificacion.pk %}`,`{{ request.path }}`)">&times;</span>
                </div>
            {% endif %}
        
        {% endfor %}
    {% else %} 
        <hr>
        <p><center>No hay notificaciones</center></p>
        <hr>
    {% endif %}
    
</div>
<script type="application/javascript">
    
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') 
        {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++)
            {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function removeNotification(removeNotificationURL, redirectURL)
    {
        const csrftoken = getCookie('csrftoken');
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                if (xmlhttp.status == 200) {
                    window.location.replace(redirectURL);
                }
                else{
                    alert("Hubo un error!");
                }
            }
        };
        xmlhttp.open("DELETE", removeNotificationURL, true);
        xmlhttp.setRequestHeader("X-CSRFToken", csrftoken);
        xmlhttp.send();
    }    
    
</script>