{%  extends "base.html" %}
{%  block title %}
    Clientes
{%  endblock    %}
{%  load static %}
{%  block styles %}
    <link rel="stylesheet" href="{% static 'css/indexProducto.css' %}">
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
  {%  endblock  %} 
{%  block scripts %}
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
  {%  endblock  %} 

{%  block content   %}

    <div class="container">
        <br>
        <h1 style="color: rgb(9, 132, 240);"><center>{{title}}</center></h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="textLabel">
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error:
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}¡Bien!:
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Advertencia:
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}Aviso: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>
        <div class="d-grid gap-2 col-4 mx-auto">
            <button onclick="abrir_modal_createProd(`{% url 'registrarCliente' %}`)" class="btn btn-success">Registrar Cliente</button>
        </div>
        <br> 
        
        <table class="table table-light" id="productos">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">documento iD</th>
                  <th scope="col">correo</th>
                  <th scope="col"><center>Acciones</center></th>
             </tr>
            </thead>
            <tbody>
                {% for object in clientes %}
                <tr>
                    <td>{{object.id}}</td>
                    <td>{{object.nombrePr}}</td>
                    <td>{{object.direccion}}</td>
                    <td>{{object.telefonos}}</td>
                    <td>{{object.documentoid}}</td>
                    <td>{{object.correo}}</td>
                    <td>
                        <a href="{% url 'detalleCliente' object.id %}" class="btn btn-primary" ><i class="fa-solid fa-eye"></i></a>
                        <button onclick="abrir_modal_editCliente(`{% url 'editarCliente' object.id %}`)" class="btn btn-warning"><i class="fa-solid fa-file-pen"></i></button>
                        <button onclick="abrir_modal_eliminarCliente(`{% url 'eliminarCliente' object.id %}`)" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <div class="modal fade contenedor" id="crearCliente_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">                    
            </div>
            <div class="modal fade contenedor" id="editCliente_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            </div>
            
            <div class="modal fade contenedor" id="eliminarCliente_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            </div>

    </div>

{%  endblock    %}

{% block javascript %}
        <script type="text/javascript">

                $('#productos').DataTable({
                    responsive: true,
                    autoWidth: false
                });

            var $ = jQuery.noConflict();
            function abrir_modal_editCliente(url){
                $('#editCliente_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_createProd(url){
                $('#crearCliente_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_eliminarCliente(url){
                $('#eliminarCliente_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
        </script>
{% endblock %}
