{%  load static %}

<!-- Main Footer -->
<footer class="text-muted text-center text-small footerColor">
    <div class="row">
      <div class="col-lg-8  p-3">
        {% load static %}
        <img src="{% static 'img/imagen1.png' %}" alt="" height="80">
        <img src="{% static 'img/logo1mejorado.png' %}" alt="" height="80">
        <img src="{% static 'img/mascota(3).png' %}" alt="" height="80">
    </div>
      <div class="col-lg-4  p-3">
        <p class="mb-1 fotterlist textColor">&copy; 2024 Zoopecas</p>
        <ul class="list-inline fotterlist">
          <li class="list-inline-item "><a class="textColor" href="#">Terms</a></li>
          <li class="list-inline-item "><a class="textColor" href="#">Privacy</a></li>
          <li class="list-inline-item "><a class="textColor" href="#">Support</a></li>
        </ul>
      </div>
      
    </div>
  </footer>