{%  extends "base.html" %}
{%  block title %}
    Inventario
{%  endblock    %}
{%  load static %}
{%  block styles %}
    <link rel="stylesheet" href="{% static 'css/indexProducto.css' %}">
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
  {%  endblock  %} 
{%  block scripts %}
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
  {%  endblock  %} 


{% block content %}
<div class="container">
    <h1 style="color: rgb(9, 132, 240);"><center>{{title}}</center></h1>
    <br>
    <div class="d-grid gap-2 col-4 mx-auto">
        <button onclick="abrir_modal_createVacuna(`{% url 'registrar_Vacuna' %}`)" class="btn btn-success">Agregar Vacuna</button> 
    </div>
    <br> 
    
    <table class="table table-light" id="vacunas">
        <thead>
            <tr>
              <th style="width: 10%;">#</th>
              <th style="width: 30%;">Vacuna</th>
              <th style="width: 15%;">Cantidad</th>
              <th style="width: 15%;">Dosis a Aplicar</th>
              <th style="width: 25%;"><center>Acciones</center></th>
         </tr>
        </thead>
        <tbody>
            {% for obj in vacunas %}
            <tr>
                <td>{{obj.id}}</td>
               
                <td>{{obj.vacuna}}</td>
                <td>
                    {% if obj.cantidad == 0 %}
                    <h5 class="badge badge-danger">{{obj.cantidad}}</h5>
                    {% elif obj.cantidad >= 10 %}
                    <h5 class="badge badge-success">{{obj.cantidad}}</h5>
                    {% else %}
                    <h5 class="badge badge-warning">{{obj.cantidad}}</h5>
                    {% endif %}
                </td>
                <td class="text-center">{{obj.dosis}}</td>
                <td>
                    
                   <button onclick="abrir_modal_editVacuna(`{% url 'editar_Vacuna' obj.id %}`)" class="btn btn-primary">Editar<i class="fa-solid fa-file-pen"></i></button>
                    <button onclick="abrir_modal_eliminarVacuna(`{% url 'eliminar_Vacuna' obj.id %}`)" class="btn btn-danger">Eliminar<i class="fa-solid fa-box-archive"></i></button>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="modal fade contenedor" id="editVacuna_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
    <div class="modal fade contenedor" id="crearVacuna_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
    <div class="modal fade contenedor" id="eliminarVacuna_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
</div>
{% endblock %}

{% block javascript %}
        <script type="text/javascript">

                $('#vacunas').DataTable({
                    responsive: true,
                    autoWidth: false
                });

            var $ = jQuery.noConflict();
           
            function abrir_modal_editVacuna(url){
                $('#editVacuna_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_createVacuna(url){
                $('#crearVacuna_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_eliminarVacuna(url){
                $('#eliminarVacuna_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
        </script>
{% endblock %}