{%  extends "base.html" %}
{%  block title %}
    Inventario
{%  endblock    %}
{%  load static %}
{%  block styles %}
    <link rel="stylesheet" href="{% static 'css/indexProducto.css' %}">
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
  {%  endblock  %} 
{%  block scripts %}
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
  {%  endblock  %} 

{%  block content   %}

    <div class="container">
        <br>
        <h1 style="color: rgb(9, 132, 240);"><center>{{title}}</center></h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="textLabel">
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error:
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}¡Bien!:
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Advertencia:
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}Aviso: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>
        <div class="d-grid gap-2 col-4 mx-auto">
            <button onclick="abrir_modal_createProd(`{% url 'crearProducto' %}`)" class="btn btn-success">Agregar Producto</button>
        </div>
        <br> 
        
        <table class="table table-light" id="productos">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Imagen</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio de compra</th>
                  <th scope="col">Precio de venta</th>
                  <th scope="col">Categoria</th>
                  <th scope="col"><center>Acciones</center></th>
             </tr>
            </thead>
            <tbody>
                {% for object in productos %}
                <tr>
                    <td>{{object.codigo}}</td>
                    
                    {% if  object.imagen  %}                    
                        {% if object.imagen.url %}
                            <td><img src="{{ object.imagen.url }}" alt="" width="50px"></td>                            
                        {% endif %}                        
                    {% else %}
                    <td>Null</td>
                    {% endif %}
                        
                    <td>{{object.producto}}</td>
                    <td>{{object.descripcion}}</td>
                    <td>
                        {% if object.cantidad_total == 0 %}
                        <h5 class="badge badge-danger">{{object.cantidad_total}}</h5>
                        {% elif object.cantidad_total >= 10 %}
                        <h5 class="badge badge-success">{{object.cantidad_total}}</h5>
                        {% else %}
                        <h5 class="badge badge-warning">{{object.cantidad_total}}</h5>
                        {% endif %}
                    </td>
                    <td>{{object.precio_compra}}</td>
                    <td>{{object.precio_venta}}</td>
                    <td>{{object.categoria}}</td>
                    <td>
                        <div class="d-grid gap-1 col-12 mx-auto">
                        <button onclick="abrir_modal_editProd(`{% url 'editarProducto' object.id %}`)" class="btn btn-primary">Editar<i class="fa-solid fa-file-pen"></i></button>
                        <button onclick="abrir_modal_eliminarProd(`{% url 'eliminarProducto' object.id %}`)" class="btn btn-danger">Eliminar<i class="fa-solid fa-box-archive"></i></button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <div class="modal fade contenedor" id="editProduct_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            </div>
            <div class="modal fade contenedor" id="crearProduct_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            </div>
            <div class="modal fade contenedor" id="eliminarProduct_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            </div>

    </div>
   
    
{%  endblock    %}

{% block javascript %}
        <script type="text/javascript">

                $('#productos').DataTable({
                    responsive: true,
                    autoWidth: false
                });
                

            var $ = jQuery.noConflict();
            function abrir_modal_editProd(url){
                $('#editProduct_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_createProd(url){
                $('#crearProduct_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_eliminarProd(url){
                $('#eliminarProduct_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            
        </script>
{% endblock %}
