<div class="modal fade contenedor" id="categoriaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content contenedor2" >
        <div class="modal-header contenedorModal" >
          <h5 class="modal-title" id="exampleModalLabel">Agregar Categoria</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body contenedorModal" id="modal-body" >
            <div id="alert-box"></div>
            <form action="{% url 'categoria' %}" id="mascota_form" method="POST" >
              {%  csrf_token  %}
                {{  form  }}
                <div class="modal-footer contenedorModal">
                  <button type="submit" class="btn btn-primary" >Guardar</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
        
      </div>
    </div>
</div>