{%  extends "base.html" %}

{%  block title %}
    Consultar Registro
{%  endblock    %}
{% load static %}



{% block content %}
<br><br>
{% include 'mascotaModal.html' %}
{% include 'clienteModal.html' %}

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col col-6 ">
              {% load static %}
              <img src="{% static 'img/logo1mejorado.png' %}" alt="" width="80%">
            </div> 
            <div class="col col-6 contenedor">
                <br>
              <h1 style="color:#0275d8"><center>Registro</center></h1>
              <br>
              <h2><center>Confirme si el cliente está registrado</center></h2>
              <form action="" method="get" id="consulta_form">
                  {%  csrf_token  %}
                  {{ form }}
                  <br>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button id="consultar-btn" class="btn btn-primary" type="submit" value="Buscar">Buscar</button>
                  </div>
                        
              </form>          
              <div id="result"></div>
              
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-success" id="mascota-btn" type="button" data-bs-toggle="modal" data-bs-target="#mascotaModal" hidden>Registrar nueva Mascota</button>
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-success" id="propietario-btn" type="button"  data-bs-toggle="modal" data-bs-target="#propietarioModal" hidden>Registrar nuevo Propietario</button>
              </div>
              
            
              <br><br>
              <br><br>
      
            </div>
          </div>
    </div>
</div>
  <br><br>
{% endblock %}

{%  block javascript   %}
    <script src="{% static 'js/funcions.js' %}">
    </script>

  {% endblock %}

