{%  extends "base.html" %}

{%  block title %}
    ZOOPECAS
{%  endblock    %}
{% load static %}
{%  block styles %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
  {%  endblock  %} 
{%  block scripts %}
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
  {%  endblock  %} 


{% block content %}
<br><br>
{% include 'mascotaModal.html' %}
{% include 'clienteModal.html' %}
{% include 'asignarCita_Modal.html' %}

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 contenedor">
              <div class="d-grid gap-2 col-8 mx-auto">
                <button  id="" type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#asignarCita_Modal"> Asignar cita <i class="fa-solid fa-syringe"></i></button>
              </div>
              <br><br>
              <h2 style="color: #06baf6;"><center>Citas médicas</center></h2><br>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-light" >
                      <thead>
                        <tr>
                          <th style="width: 30%;">Fecha</th>
                          <th style="width: 10%;">Hora</th>
                          <th style="width: 20%;">Mascota</th>
                          <th style="width: 20%;">Tipo</th>
                          <th style="width: 20%;">Asistencia</th>
                          <th style="width: 10%;"><center>Accion</center></th>
                        </tr>
                    </thead>
                      <tbody>
                        {% for object in citas %}
                        <tr>                          
                            <td>{{object.fecha|date:'d-m-Y'}}</td>
                            <td>{{object.hora}}</td>
                            <td>{{object.mascota}} </td>
                            <td>{{object.tipo}}</td>
                            <td>{{object.asistencia}}</td>
                            <td>
                              <button onclick="abrir_modal_editCita(`{% url 'editarCita' object.id %}`)" class="btn btn-warning"> <i class="fa-solid fa-file-pen"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                     
                    </table>
                    
                <br><br>
                </div>
            </div> 
            <div class="col-md-1 col-12">
              
            </div>
            <div class="col-md-5 col-12 contenedor">
                <br>
              <h1 style="color:#0275d8"><center>Registro</center></h1>
              <br>
              <h2><center>Confirme si el cliente está registrado</center></h2>
              <form action="" method="get" id="consulta_form">
                  {%  csrf_token  %}
                  {{ form }}
                  <br>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button id="consultar-btn" class="btn btn-primary" type="submit" value="Buscar">Buscar</button>
                  </div>
                        
              </form>          
              <div id="result"></div>
              
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-success" id="mascota-btn" type="button" data-bs-toggle="modal" data-bs-target="#mascotaModal" hidden>Registrar nueva Mascota</button>
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-success" id="propietario-btn" type="button"  data-bs-toggle="modal" data-bs-target="#propietarioModal" hidden>Registrar nuevo Propietario</button>
              </div>
              
            
              <br><br>
              <br><br>
      
            </div>
          </div>
    </div>
    <div class="modal fade contenedor" id="editarCitaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
</div>
  <br><br>
{% endblock %}

{%  block javascript   %}
    <script type="application/javascript">
      $('#data').DataTable({
        responsive: true,
        autoWidth: false
    });
    var $ = jQuery.noConflict();
    function abrir_modal_editCita(url){
        $('#editarCitaModal').load(url, function (){
            $(this).modal('show');
        });
    }
    </script>
    <script src="{% static 'js/funcions.js' %}">

    </script>

  {% endblock %}

