{%  extends "base.html" %}
{%  block title %}
    Detalle Historia Clinica
{%  endblock    %}
{% load static %}
{%  block styles %}
<link rel="stylesheet" href="{% static 'css/formularioHC.css' %}">
<link rel="shortcut icon" href="#">

  {%  endblock  %}
{%  block content   %}
        <div class="container">
            <div class="row ">            
                <div class="col-md-4 col-6 ">
                    <br><br>
                    <h4>SALUD Y BIENESTAR PARA TU MASCOTA</h4>
                </div>
                <div class="col-md-4 .d-none .d-sm-block ">
                    <img src="{%  static 'img/veterinariaHC.jpg' %}" alt="" width="100%">
                </div>
                <div class="col-md-4 col-6 ">
                    <h1 style="font-family: Algerian; font-weight:normal;"><center>ZOOPECAS</center></h1>
                    <h2 style="font-weight:bold;"><center>CONSULTORIO VETERINARIO</center></h2>
                    <h5><center>CALLE 61A # 87N-39 SUR</center></h5>
                    <h5><center>3143972399 - 3118566551</center></h5>
                </div>
            </div><br>
            <div class="container">
                <div class="row ">            
                    <div class="col-4 ">
                        <h5 >HOJA CLINICA No. {{ object.id|safe }}</h5>
                    </div>
                    <div class="col-6 ">
                        <h5 >Fecha Registro: {{ object.fecha|safe }}  Hora: {{ object.hora|safe }}</h5>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <h3 style="font-weight:bold;">1. RESEÑA:</h3>            
            <div class="row ">            
                <div class="col-6 ">
                    <h5 >Propietario: {{ object.mascotas.propietario|safe }}</h5>
                    <h5 >Dirección: <small>{{ object.mascotas.propietario.direccion |safe}}</small></h5>

                </div>
                <div class="col-6 ">
                    <h5 >Identificación: <small>{{ object.mascotas.propietario.documentoid |safe}}</small></h5>
                    <h5 >Telefonos: <small>{{ object.mascotas.propietario.telefonos |safe}}</small></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <h5 >Nombre del animal: {{ object.mascotas |safe}}</h5>
                    <h5 >Color: <small>{{ object.mascotas.color |safe}}</small></h5>
                </div>
                <div class="col-4">
                    <h5 >Especie: <small>{{ object.mascotas.especie |safe}}</small></h5>
                    <h5 >Sexo: <small>{{ object.mascotas.sexo |safe}}</small></h5>
                </div>
                <div class="col-4">
                    <h5 >Raza: <small>{{ object.mascotas.raza |safe}}</small></h5>
                    <h5 >Edad: <small>{{ object.mascotas.edad |safe}}</small></h5>
                </div>
            </div>
            <h5 >Caracteristicas especiales: <small>{{ object.mascotas.caracteristicas |safe}}</small></h5>
            <br>
            <h3 style="font-weight:bold;">2. ANAMNESICOS:</h3>            
            <h5 class="">A. Queja Principal: <small>{{ object.quejaPrincipal |safe}}</small></h5>
            <h5 class="">B. Tratamientos previos: <small>{{ object.tratamientosPrevios |safe}}</small></h5>
            <h5 class="">C. Enfermedades Anteriores : <small>{{ object.enfermedadesAnteriores |safe}}</small></h5>
            <h5 class="">D.  Cirugías anteriores:  <small>{{ object.cirugiasAnteriores |safe}}</small></h5>
            <h5 class="">E. Dieta: <small>{{ object.dieta }}</small></h5>
            <h5 class="">F. Medicina Preventiva : <small>{{ object.medicinaPreventiva|safe }}</small></h5>
            <h5 style="font-weight:bold;">3. INSPECCION:  <small>{{ object.inspeccion|safe }}</small></h5>
            <h5 style="font-weight:bold;">4. PALPACION - PERCUSION - AUSCULTACION:  <small></small></h5>
            <div class="row">
                <div class="col-3">
                    <h5 >Temperatura: <small>{{ object.temperatura |safe}} °C </small></h5>
                    <h5 >Hidratación: <small>{{ object.hidratacion |safe}} Seg </small></h5>                    
                </div>
                <div class="col-3">
                    <h5 >Pulso: <small>{{ object.pulso |safe}} X minuto</small></h5>
                    <h5 >Peso: <small>{{ object.peso |safe}} Kg </small></h5>                    
                </div>
                <div class="col-3">
                    <h5 >Respiracion: <small>{{ object.respiracion |safe}} X minuto</small></h5>   
                    <h5 >Ganglios: <small>{{ object.ganglios |safe}}</small></h5>                    
                </div>
                <div class="col-3">
                    <h5 >TLIC:  <small>{{ object.TLIC |safe}} Seg</small></h5>
                </div>
            </div>
            <h5>A. Sistema Digestivo (Gusto): <small>{{ object.sistDigestivo |safe}}</small></h5>
            <h5>B. Sistema Respiratorio (Olfato): <small>{{ object.sistRespiratorio |safe}}</small></h5> 
            <h5>C. Sistema Cardiovascular:  <small>{{ object.sistCardiovascular|safe }}</small></h5>
            <h5>D. Sistema Urinario: <small>{{ object.sistUrinario|safe }}</small></h5>
            <h5>E. Sistema Genital: <small>{{ object.sistGenital|safe }}</small></h5>
            <h5>F. Sistema Nervioso (Visión - Audición): <small>{{ object.sistNervioso|safe }}</small></h5>
            <h5>G. Sistema Locomotor: <small>{{ object.sistLocomotor|safe }}</small></h5>
            <h5>H. Piel Anexos: <small>{{ object.pielAnexos|safe }}</small></h5> 
            <h5>I. Hallazgos:  <small>{{ object.hallazgos|safe }}</small></h5>
            <h5 style="font-weight:bold;">5. EXÁMENES SOLICITADOS: <small>{{ object.examenesSolicitados|safe }}</small></h5>
            <h5 style="font-weight:bold;">6. EXÁMENES AUTORIZADOS: <small>{{ object.examenesAutorizados|safe }}</small></h5>
            <h5 style="font-weight:bold;">7. IMPRESIÓN DIAGNOSTICA: <small>{{ object.impresionDiagnostica|safe }}</small></h5>
            <h5 style="font-weight:bold;">8. PRONOSTICO: <small>{{ object.pronostico }}</small></h5>
            <div class="row">
                <div class="col-8">
                    <h5 style="font-weight:bold;">9. TRATAMIENTO IDEAL: <small>{{ object.tratamientoIdeal|safe }}</small></h5>
                    <h5 style="font-weight:bold;">10. TRATAMIENTO INSTAURADO: <small>{{ object.tratamientoInstaurado|safe }}</small> </h5>
                </div>
                <div class="col-4">
                    <h5>Cotizacion 1: <small>{{ object.cotizacion1|safe }}</small></h5>   
                    <h5>Cotizacion 2: <small>{{ object.cotizacion2|safe }}</small></h5> 
                </div>
            </div>
            <h5 style="font-weight:bold;">11. OBSERVACIONES: <small>{{ object.observaciones |safe}}</small></h5>
            <h5 style="font-weight:bold;">11. CONSIDERACIONES: <small>{{ object.consideraciones |safe}}</small></h5>
            {% for object in object.veterinario.all %}
                <h5 style="font-weight:bold;">MEDICO VETERINARIO: <small>{{ object|safe}}</small></h5>
            {% endfor %}
        </div>
          
            <div class="d-grid gap-2 col-4 mx-auto">
                <button onclick="abrir_modal_create(`{% url 'registrar_seguimiento' object.id %}`)" class="btn btn-primary">Registrar Seguimiento</button>
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#seguimientoModal"> Seguimientos </button>

                <a href="{% url 'HCPDF' object.id %}" class="btn btn-warning" target="_blank"> Generar PDF </a>
            </div>
            <br><br>
            {% include "seguimientosList.html"  %}
        <div class="modal fade contenedor" id="seguimiento_create_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

{%  endblock  %}
{% block javascript %}
    <script type="text/javascript">
        function abrir_modal_create(url){
            $('#seguimiento_create_modal').load(url, function (){
                $(this).modal('show');
            });
        }

        function cerrarModalCreate() {
            $('#seguimiento_create_modal').modal('hide');
        }
    </script>
{%  endblock  %}