<div class="modal fade" id="seguimientoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seguimientos Historia Clinica</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-light">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Hora</th>
                  <th scope="col">Observaciones</th>
                  <th scope="col">responsable</th>
                  <th scope="col"><center>Acciones</center></th>
                </tr>
            </thead>
              <tbody>
                {% for obj in seguimientos %}
                  <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.fecha }}</td>
                    <td>{{ obj.hora }}</td>
                    <td>{{ obj.observaciones }}</td>
                    <td>{{ obj.responsable }}</td>
                    <td>
                      <button onclick="abrir_modal_edit(`{% url 'update_seguimiento' obj.id %}`)" class="btn btn-warning"><i class="fa-solid fa-file-pen"></i></button>
                      <!-- <button onclick="abrir_modal_eliminar(`{% url 'delete_seguimiento' obj.id %}`)" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button> -->
                    </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
          <div class="modal fade contenedor" id="seguimiento_edit_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
          <div class="modal fade contenedor" id="seguimiento_delete_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>                    
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          
        </div>
      </div>
    </div>
  </div>
  {% block javascript %}
        <script type="text/javascript">
            function abrir_modal_edit(url){
                $('#seguimiento_edit_modal').load(url, function (){
                    $(this).modal('show');
                });
                $('#seguimientoModal').modal({ backdrop: 'static', keyboard: false });
            }
            function abrir_modal_eliminar(url){
                $('#seguimiento_delete_modal').load(url, function (){
                    $(this).modal('show');
                });
                $('#seguimientoModal').modal({ backdrop: 'static', keyboard: false });
            }

            function cerrarModalEdit() {
                $('#seguimiento_edit_modal').modal('hide');
                $('#seguimientoModal').modal({ backdrop: true, keyboard: true });
            }

        </script>
{% endblock %}
